<h1>WHAT DO YOU WANT TO DO NOW?</h1>

<a class="btn btn-primary btn-lg btn-block" href="#/user" role="button" data-target="user">Users</a>
<a class="btn btn-primary btn-lg btn-block" href="#/service" role="button" data-target="service">Services</a>
<a class="btn btn-primary btn-lg btn-block" href="#/permission" role="button" data-target="permission">Permissions</a>