<div class="alert alert-{{type}}" role="alert" id="alert-{{type}}">
	{{message}}
	<button type="button" class="close" aria-label="Close" id="close">
	  <span aria-hidden="true">&times;</span>
	</button>
</div>